@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small {
    @apply bg-black rounded-lg m-2;
    grid-row-end: span 26;
  }

  .medium {
    @apply bg-black rounded-lg m-2;
    grid-row-end: span 33;
  }

  .large {
    @apply bg-black rounded-lg m-2;
    grid-row-end: span 45;
  }
}
